.aboutus {
  width: full;
  height: 100vh;
  background-color: black;
  // padding: 0 150px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 4em;
  .bg-container {
    margin-top: -100px;
    position: absolute;
    transform: translate(-600px, -900px);
    width: 1800px;
    height: 1800px;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
      rgb(0, 76, 255) 0%,
      rgba(185, 19, 135, 1) 20%,
      black 50%
    );
    opacity: 0.6;
  }
  .about-content {
    z-index: 2;
    width: 80%;
    .about-heros-section {
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .about-text {
        width: 50%;
      }
      .about-img {
        width: 50%;
      }
    }
  }
}
