.mainfeatures-section {
  width: 100vw;
  background-color: black;
  padding: 0 150px;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15em 0 4em 0;

    h2 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 4rem;
      background: -webkit-linear-gradient(45deg, #19fb9b, #8c01fa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .BsFillCaretDownFill {
      font-size: 2.5em;
      margin-top: 7px;
    }
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 8em 0;

    .text-container {
      width: 50%;

      h3 {
        color: #eb6ba8;
        font-size: 3rem;
        font-family: "Montserrat", sans-serif;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0.5em;
      }
      p {
        line-height: 2;
        font-size: 14px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
    }
    .image-container {
      width: 50%;
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .mainfeatures-section {
    padding: 100px 10vw;
    width: 100vw;
    .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em 0 2em 0;

      h2 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 3rem;
        background: -webkit-linear-gradient(45deg, #19fb9b, #8c01fa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      .BsFillCaretDownFill {
        font-size: 2.5em;
        margin-top: 7px;
      }
    }
    .section1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0em 0em;
      flex-direction: column;
      .text-container {
        width: 100%;

        h3 {
          color: #eb6ba8;
          font-size: 2rem;
          font-family: "Montserrat", sans-serif;
          line-height: 1;
          font-weight: 500;
          margin-bottom: 0.5em;
        }
        p {
          line-height: 2;
          font-size: 14px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
        }
      }
      .image-container {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .mainfeatures-section {
    padding: 0 2em;
    .heading {
      align-items: center;
      padding: 4em 0 2em 0;

      h2 {
        font-size: 2rem;
        background-clip: text;
      }
    }
    .section1 {
      // border: 1px solid red;
      gap: 20;
      padding: 2em 0;
      flex-direction: column;
      .text-container {
        width: 100%;
        h3 {
          font-size: 1.5em;
        }
        p {
          font-size: 12px;
        }
      }
      .image-container {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-device-width: 992px) {
}
