.feature-section {
  padding: 100px 10vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  z-index: 0;
  background-color: black;
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0;
  .bg-container {
    margin-top: -100px;
    position: absolute;
    transform: translate(-600px, -900px);
    width: 1800px;
    height: 1800px;
    inset: 0;
    z-index: -1;
    background: radial-gradient(rgb(0, 76, 255) 0%, rgba(185, 19, 135, 1) 20%, #070707 50%);
    opacity: 0.6;
  }
  .fetaures-title {
    padding-top: 5em;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 55%;
    align-items: center;
    gap: 15px;

    h2 {
      font-size: 2.2em;
      font-weight: 600;
    }
    p {
      width: 70%;
      line-height: 1.5;

      font-size: 12px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
    }
  }

  .grid-container {
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    padding: 50px 0;
    row-gap: 30px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 7px;
      height: 20em;
      // border: 1px solid yellow;
      background-color: transparent;
      color: white;

      border: 2px solid red;
      .icon-container {
        position: relative;
        background: linear-gradient(45deg, rgba(22, 75, 195, 1) 0%, rgba(185, 19, 135, 1) 100%);
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        .img-container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            object-fit: cover;
            height: 25px;
            width: 25px;
          }
        }
      }
      h3 {
        font-size: 1.2em;
        font-weight: 600;
        height: 3em;
        border: 2px solid red;
      }

      ul {
        padding: 0 !important;
        li {
          // border: 2px solid blue;

          line-height: 1.5;
          list-style: none;
          font-size: 12px;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          margin: 12px 0;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .feature-section {
    padding: 0px 10vw !important;
    width: 100vw;

    .fetaures-title {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      gap: 15px;

      h2 {
        font-size: 2.2em;
        font-weight: 600;
      }
      p {
        line-height: 1.5;

        font-size: 12px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
    }

    .grid-container {
      width: 100%;
      align-items: center;
      justify-items: center;
      display: grid;
      grid-template-columns: 1fr;
      gap: 100px;
      padding: 50px 0;
      row-gap: 0px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 25em;
        width: 100%;
        .icon-container {
          position: relative;
          background: linear-gradient(45deg, rgba(22, 75, 195, 1) 0%, rgba(185, 19, 135, 1) 100%);
          height: 42px;
          width: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          .img-container {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: cover;
              height: 25px;
              width: 25px;
            }
          }
        }
        h3 {
          font-size: 1.5em;
          font-weight: 600;
          height: 2.8em;
        }

        ul {
          li {
            line-height: 1.5;
            list-style: none;
            font-size: 12px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            margin: 12px 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .feature-section {
    padding: 0px 10vw !important;
    width: 100vw;
    .fetaures-title {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      gap: 15px;

      h2 {
        font-size: 2.2em;
        font-weight: 600;
      }
      p {
        line-height: 1.5;

        font-size: 12px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
    }

    .grid-container {
      width: 100%;
      align-items: center;
      justify-items: center;
      display: grid;
      grid-template-columns: 1fr;
      gap: 100px;
      padding: 50px 0;
      row-gap: 0px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 25em;
        width: 100%;
        .icon-container {
          position: relative;
          background: linear-gradient(45deg, rgba(22, 75, 195, 1) 0%, rgba(185, 19, 135, 1) 100%);
          height: 42px;
          width: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          .img-container {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: cover;
              height: 25px;
              width: 25px;
            }
          }
        }
        h3 {
          font-size: 1.5em;
          font-weight: 600;
          height: 2.8em;
        }

        ul {
          li {
            line-height: 1.5;
            list-style: none;
            font-size: 12px;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            margin: 12px 0;
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width: 992px) {
}
