.solution-section {
  height: 80vh;
  width: full;
  background-color: black;
  // padding: 0 150px;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  .bg-container {
    margin-top: -100px;
    position: absolute;
    transform: translate(-600px, -900px);
    width: 1800px;
    height: 1800px;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
      rgb(0, 76, 255) 0%,
      rgba(185, 19, 135, 1) 20%,
      black 50%
    );
    opacity: 0.6;
  }
  .solution-content {
    z-index: 2;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .fetaures-title {
      padding: 13em 0 5em 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 55%;
      align-items: center;
      gap: 15px;

      h2 {
        font-size: 2.2em;
        font-weight: 600;
      }
      p {
        width: 70%;
        line-height: 1.5;

        font-size: 12px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
